:root {
    /* Политра цветов */
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --background-portfolio: #F5F5F5;
    --white-color-next: #EEEEEE;
    --also-white: #F5F4FA;
    --black-color: #000000;
    --background-footer-header: #2F303A;
    --line-header-line: #ECECEC;
}

/* общие */

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}   

.link-example {
    color: var(--primary-text-color);
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.link-example:hover,
.link-example:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link-example:hover .backdrop-card,
.link-example:focus .backdrop-card {
transform: translateY(0%);
}


body {
    background: var(--white-color);
    color: var(--primary-text-color);
   
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* logo  */
.logo {
    color: var(--white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-color {
    color: var(--accent-color);
}

.logo-header {
    color: var(--title-text-color);
    margin-right: 93px;
}

/* button */
.button {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    min-width: 216px;
    text-align: center;

    /* ПОХОДУ НАЙДО УКАЗАТЬ СТРОЧНО-БЛОЧНІЙ ЕЛЕМЕНТ, ДИВОМ ОБЕРНУТЬ СТРОЧНУЮ КНОПКУ? */
}

.button-primary {
    background-color: var(--also-white);
    color: var(--title-text-color);
    cursor: pointer;

    font-family: inherit; 
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    margin-left: 8px;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-primary-button {
    margin-left: 0px;
}

/* .filters-button:nth-child(3) {
    min-width: 73px;
}
.button-primary:nth-child(2) {
    min-width: 125px;
}
.button-primary:nth-child(3) {
    width: 112px;
}
.button-primary:nth-child(4) {
    min-width: 103px;
}
.button-primary:nth-child(5) {
    min-width: 130px;
} */

.button-primary:hover, 
.button-primary:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Web-Studio */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

/* header */
.header {  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ECECEC;
}
 
.header-nav {
    display: flex;
    align-items: center;
}

.main-header {
    display: flex; 
}

.header-list {
    display: flex;
}

.header-list .item {
    margin-right: 50px;
}

.header-list .item:last-child {
    margin-right: 0px;
}

.header .current {
    color: var(--accent-color)
}

.item {
    position: relative;
}

.header .current::after { 
    position: absolute;
    border: 2px solid var(--accent-color);
    width: 100%;
    content: " ";
    border-radius: 2px;
    left: 0;
    bottom: -1px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-link {
    color: var(--title-text-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact {
    display: flex;
    margin-left: auto;
}

.header-contact li+li {
    margin-left: 50px;
}

.address-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-picture {
    margin-right: 10px;
    fill: currentColor;
}

.address-link:hover,
.address-link:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon-button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;


    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-button:hover,
.icon-button:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    fill: #2196F3;
}

.hero-button {
    width: 30px;
    height: 30px;
}

.icon-button:hover > .hero-button {
    cursor: pointer;
}

/* main-studio */

.section .nomargin {
    margin-top: 0px;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px; 
}

/* hero-section */

.hero {
    background-color: var(--background-footer-header);
    height: 600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url("../images/photo_hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.hero .hero-title {

    font-family: Roboto, sans-serif;
    color: var(--white-color);
   
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
    margin-top: 0;
    margin-bottom: 30px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.button-studio {
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-studio:hover,
.button-studio:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* features */

.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--also-white);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icons-features {
    width: 70px;
    height: 70px;
}

.features-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-text {
font-size: 14px;
line-height: 1.71;
margin: 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 10px;
}


.features-list {
    display: flex;
}

.features-list li {
    min-width: 270px;
}

.features-list li+li {
    margin-left:30px;
}

/*  what_we_do section */

.nopadding {
    padding-top: 0px;
}

.section .title-section {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    margin-top: 0;
    margin-bottom: 50px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.example-section {
    display: flex;
}
.example-section li+li {
    margin-left: 30px;
}

.example-section img {
    display: block;
}

.example-list {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.example-thumb {
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: rgba(47, 48, 58, 0.8);
    height: 70px;
    width: 100%;
}

.first-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
}




.text-thumb {
    color: var(--white-color) ;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

/* team section */

.section-team {
    background-color: var(--also-white);
    text-align: center;
}

.cards-list {
display: flex;
}

.cards-list img {
    display: block;
}

.cards-list-item li+li {
    margin-left:30px;    
}

.cards-team {
    padding: 30px 32px 30px 32px;
    background-color: #FFFFFF;
}


.cards-list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    padding:0;
    margin:0;
    margin-bottom: 16px;
}

.cards-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.cards-icon {
    display: flex;
}

.link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    fill: #AFB1B8;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.link-icon:hover, 
.link-icon:focus {
    background-color: #2196F3;
    fill: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.icon-link {
    width: 44px;
    height: 44px;
}

.cards-icon li+li {
    margin-left: 10px;
}

.social-link {
    width: 20px;
    height: 20px;
    color: currentColor;
}

/* client */

.client-icon {
    display: flex;
    justify-content: space-between;
}

.icon-list:hover,
.icon-list:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon-list {
    width: 170px;
    height: 92px;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.client-icon-link {
    display: flex;
    align-items: center;
    height: 92px;
    justify-content: center;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.client-icon-link:hover,
.client-icon-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    border-color: var(--accent-color);
}


/* main portfolio */

.portfolio-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list img {
    display: block;
}

.portfolio-list .card-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0px;
}

.portfolio-card {
    margin-right: 30px;
    margin-bottom: 30px;
}

.cards {
    height: 110px;
}

.portfolio-card:nth-child(3n) {
    margin-right: 0px;
}

.portfolio-card:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.card-title {
    margin-bottom: 4px;
}

.portfolio-card .card-text {
    font-size: 16px;
    line-height: 1.87;
    text-align: left;
}

.portfolio-card .cards {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

/* footer */
.container-footer {
    display: flex;
    align-items: baseline;
}

.footer-title {
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;

}

.footer-social {
    margin-left:70px;
}

.footer-form {
margin-left: auto;
    
}

.button-footer {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 10px 28px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    min-width: 200px;
    text-align: center;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-hero-button {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    min-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-footer:hover,
.button-footer:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.footer-send-item {
display: flex;
flex-wrap: wrap;
position: relative;
}

.footer-send-item input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: border-box;
}

.footer-send-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.footer-label {
    position: absolute;
    top: 50%;
    left: 16px;
    opacity: 1;
    color: rgba(255, 255, 255, 0.6);
    transform: translateY(-50%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus + .footer-label, .footer-input:not(:placeholder-shown) + .footer-label {
    opacity: 0;
}

.footer-input:focus {
    outline: none;
    border: 1px solid var(--white-color);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input {
    color: var(--white-color);
    font-family: Robota, sans-serif;
    font-weight: 400;
    line-height: 1.71;
}

.footer {
    background-color: var(--background-footer-header);
    height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.adress {
    font-style: normal;
    font-family: Robota, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    margin-top: 20px;
}

.adress li+li {
margin-top: 9px;
}

.address-list {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.address-list .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .link:hover,
.address-list .link:focus {
    color: var(--accent-color);
}

.footer .address-map {
    color: var(--white-color);
}

.address-contact {
    color: rgba(255, 255, 255, 0.6);
}

.footer-social .link-icon {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-color);
}

.footer-social .link-icon:hover,
.footer-social .link-icon:focus {
    background-color: var(--accent-color);
}


/* Modal */
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  z-index: 1;

}

.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.3);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    min-height: 581px;
    width: 528px;
    padding: 40px;

    background-color: var(--white-color);

    transform: translate(-50%, -50%) scale(1);  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-thumb {
   position: relative;
   overflow: hidden;
}

.backdrop-card {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(105%);

    width: 370px;
    height: 294px;

    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-card p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    padding: 63px 24px;
}

.inputs-modal {
    list-style: none;
    padding: 0;
    margin: 0;
}

.inputs-modal .modal-list {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.modal-checkbox a {
    color: var(--accent-color);
}

.modal-checkbox {
display: flex;
align-items: center;
justify-content: center;
     
font-weight: 400;
font-size: 14px;
line-height: 1.71;

color: var(--primary-text-color)
} 

.unselected  
{ -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; 
  
}

.checkbox-link {
    margin-left: 9px;
}

.checkbox  {
    /* -webkit-appearance:none;
      -moz-appearance:none;
           appearance:none;
           position: absolute; */

           position: absolute;
           width: 1px;
           height: 1px;
           margin: -1px;
           border: 0;
           padding: 0;
           
           white-space: nowrap;
           clip-path: inset(100%);
           clip: rect(0 0 0 0);
           overflow: hidden;
}

.checkbox:checked + .checkbox-svg {
    background-color: var(--accent-color);
    border-color:  var(--accent-color);
    border: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
    width: 16px;
    height: 15px;
}

.checkbox-svg {
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--black-color);
    border-radius: 2px;
    margin-right: 9px;
}

.form-title {
    display: inline-block;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;


    color: #212121;
}

.form-input {
    outline: none;
    margin-top: 4px;
   
}

.form-input:focus + svg {
    fill: #2196F3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-list input:focus-within {
    outline: none;
    border: 1px solid var(--accent-color);
    
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--primary-text-color);
    text-align: start;
}

.form-label-comment {
    margin-bottom: 4px;
}

.modal-form {
    width: 448;
}

.modal-list input {
   padding: 12px 12px 12px 42px;
   width: 448px;
   height: 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   outline: none;
}

textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form-comment {
    padding: 12px 16px;
    resize: none;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-comment:focus {
    outline: none;
    border: 1px solid var(--accent-color);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputs-modal .modal-list-last {
    margin-bottom: 20px;
}

.icon-label {
    position: absolute;
    bottom: 11px;
    left: 12px;

    width: 18px;
    height: 18px;
    fill: #000000;

    /* transform: translateY(-50%); */
    
}


/* 

- досмотреть видео
- глянуть тз
- загрузить на гит и сдать 
- чекать слайдер

*/